<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Login GS Track</title>
    <meta content=Template Portal DevExpress by MFM" name="description" />
    <meta content="muhammadfauzimilad" name="author" />
    <link rel="shortcut icon" href="~/Content/images-new/logo_gs_battery_nonbg.ico">


    <link rel="stylesheet" href="~/Content/plugins/chartist/css/chartist.min.css">
    <link href="~/Content/css-new/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css-new/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css-new/icons.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css-new/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


    <!-- Sweet Alert -->
    <link href="~/Content/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <style>
        body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            background: url('../../Content/images-new/bg-login-gs.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;
        }


        .circle-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            overflow: hidden;
        }

        .circle {
            position: absolute;
            border-radius: 50%;
            opacity: 0.08;
            background-color: #ffffff;
            animation: float 12s infinite ease-in-out;
        }

        /* Circle Custom Positions */
        .circle1 {
            width: 300px;
            height: 300px;
            top: 8%;
            left: 6%;
        }

        .circle2 {
            width: 150px;
            height: 150px;
            top: 45%;
            left: 18%;
        }

        .circle3 {
            width: 220px;
            height: 220px;
            top: 25%;
            right: 12%;
        }

        .circle4 {
            width: 120px;
            height: 120px;
            bottom: 20%;
            right: 25%;
        }

        .circle5 {
            width: 180px;
            height: 180px;
            bottom: 10%;
            left: 10%;
        }

        .circle6 {
            width: 90px;
            height: 90px;
            top: 60%;
            right: 5%;
        }
        h3{
             font-family: 'Poppins', sans-serif;
        }

    .footer-section {
        background-color: #1b2e56;
        color: white;
        padding: 40px 0px 0;
        font-family: 'Poppins', sans-serif;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 40px;
        padding-bottom: 30px;
        border-bottom: 1px solid #fff3;
        max-width: 1250px;
        margin: auto;
    }

    .footer-column h3, .footer-column h4 {
        font-weight: 600;
    }

    .logo-gs {
        color: #ffffff;
        padding: 2px 6px;
        border-radius: 4px;
    }

    .footer-column hr {
        border: 0;
        height: 2px;
        background-color: #778;
        width: 80%;
        margin: 8px 0;
    }

    .footer-column ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-column ul li {
        margin-bottom: 8px;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: 14px;
        padding: 16px 20px;
        background-color: #f8f8f8;
        color: #111;
    }

    .footer-social {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 18px;
    }

    .footer-social i {
        color: #12349F;
        transition: 0.3s;
        cursor: pointer;
    }

    .footer-social i:hover {
        color: #0f2d89;
    }

    .desc-gs{
        text-align:justify;
    }

    .login-page{
        height:100vh;
    }

    nav {
        background-color:white;
    }
    </style>





</head>
<body>
    <div class="circle-bg">
        <div class="circle circle1"></div>
        <div class="circle circle2"></div>
        <div class="circle circle3"></div>
        <div class="circle circle4"></div>
        <div class="circle circle5"></div>
        <div class="circle circle6"></div>
    </div>
    <div id="wrapper">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="~/Content/images-new/logo_gs_battery_dark.jpg" alt="GS Logo" style="height: 40px;" class="mr-2">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarGS" aria-controls="navbarGS" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

          
        </nav>

        <div class="col-lg-12 login-page">
            @RenderBody()
        </div>
        <footer class="footer-section">
            <div class="footer-container">
                <div class="footer-column">
                    <h3><span class="logo-gs">GS</span> PT. GS BATTERY</h3>
                    <hr />
                    <p class="desc-gs">
                        Support the automotive industry and energy storage systems on environmental sustainability and become the battery manufacturer and preferred partner for energy storage systems.
                    </p>
                </div>
                <div class="footer-column">
                    <h4>Corporate</h4>
                    <hr />
                    <ul>
                        <li>GS Battery Profile</li>
                        <li>Milestone</li>
                        <li>Certification</li>
                        <li>Corporate Social Responsibility</li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Products</h4>
                    <hr />
                    <ul>
                        <li>Automotive Battery</li>
                        <li>Motorcycle Battery</li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Contact Us</h4>
                    <hr />
                    <p>
                        <strong>Karawang Plant</strong><br />
                        Kawasan Industri Suryacipta,<br />
                        Jl. Surya Utama Kav. I.3, Kutamekar, Ciampel,<br />
                        Karawang, Jawa Barat 41363
                    </p>
                    <p>
                        <strong>Phone:</strong> (0267) 440961 – 64<br />
                        <strong>Fax:</strong> (0267) 440965<br />
                        <strong>Email:</strong> marketing@gs.astra.co.id
                    </p>
                </div>
            </div>

            <div class="footer-bottom">
                <span>PT. GS Battery Copyright © 2025</span>
                <div class="footer-social">
                    Get connected with us social networks :
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </footer>


    </div>

    <!-- jQuery  -->
    <script src="~/Scripts/js-new/jquery.min.js"></script>
    <script src="~/Scripts/js-new/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/js-new/metisMenu.min.js"></script>
    <script src="~/Scripts/js-new/jquery.slimscroll.js"></script>
    <script src="~/Scripts/js-new/waves.min.js"></script>

    <!-- Sweet-Alert  -->
    <script src="~/Content/plugins/sweet-alert2/sweetalert2.min.js"></script>


    @RenderSection("scripts", required: false)
</body>


</html>
